<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CRÉDITOS CORE P5_QUIZ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
Práctica realizada por:
<b><p>Alonso Espasandín Hernán</p></b>

<a href="/">Inicio</a>
<a href="/credits">Credits</a>
<a href="/quizzes">Quizzes</a>

</body>
</html>