<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><b> Quizzes list: </b></h1>
<ul>



    <li>
Pregunta numero 1
    </li>
</ul>

<a href="/">Inicio</a>
<a href="/credits">Credits</a>
<a href="/quizzes">Quizzes</a>
</body>
</html>